.verify-container {
  width: 100%;
}
.verify-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 80%;
}
.verify-container .card .form-container {
  margin-top: 1.5rem;
}