.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li.nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  transition: 0.5s;
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}


.nav-links a li.nav-link  {
  text-decoration: none;
  color: white;
}
.nav-links a.active li.nav-link  {
  font-weight: bold;
  text-decoration: underline;
  
}

.nav-links li.nav-link:hover a {
  color: white;
}
